@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.wrapper{
  display: flex;
  flex-direction: column;
}
body {
    font-family: 'Share Tech Mono', Arial, sans-serif;
    text-align: center;
    width: 100%;
    margin: 0;
}
/* nav {
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: right;
}
nav a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
	flex-direction: row;
  list-style-type: none;
  margin: 0;
	padding: 0;
}
nav li {
	padding: .5em 1em;
}
nav li:hover {
  background-color: #333;
}
nav li:hover a {
  color: white;
} */
#headshot {
  border: 4px solid black;
  border-radius: 5%;
  /* max-height: 30em; */
  box-shadow: 10px 10px 5px grey;
}

h1 {
  font-size: 4em;
}
.flex-container {
  display: flex;
}
/* .readings-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.readings-gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
} */
.reading-gallery-image {
  height: 20em
}
.readings-background {
  background-color: #26506d; 
  border-radius: 2em; 
  padding: 20px;
  margin: 1em;
}
#resumeDownload {
  font-size: 2rem;
  width: 5%;
}
#resume {
  display: inline-block;
  width: 50%;
  height: 60em;
  
}
#pdf-viewer {
  border: 1px solid #ccc; 
  width: 100%; 
  height: 475px; 
  overflow: auto;
}
footer {
  flex-shrink: 0;
}
.footernav {
  /* display: flex;
  flex-direction: column; */
  background-color: #333;
  height: 6em;
  
}
.footernav a {
  color:#f2f2f2;
  text-decoration: none;
  text-align: center;
  padding: 1.2em 1em;
  font-size: 1.2em;
  float: left;
}
.footernav a:hover{
  color: black;
  background-color: white;
}